<div class="container p-py-4">
  <p-card>
    <ng-template pTemplate="header">
      <h2 class="p-m-0 p-pt-4 p-px-3">Validate Extracted Literals</h2>
    </ng-template>
    <p-table #dt
              *ngIf="extractedLiteralLanguages != null; else literalsNotFound"
             [columns]="cols"
             [value]="extractedLiteralLanguages"
             styleClass="p-datatable-gridlines"
             [paginator]="true"
             [rows]="10"
             [showCurrentPageReport]="true"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [rowsPerPageOptions]="[10,20,30,40,50]"
             [exportFilename]="exportFileName">
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="dt.exportCSV()" class="p-ml-auto p-mr-2" pTooltip="CSV" tooltipPosition="top"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="colgroup">
        <colgroup>
          <col style="width:4%">
          <col style="width:8%">
          <col style="width:8%">
          <col style="width:8%">
          <col style="width:18%">
          <col style="width:18%">
          <col style="width:18%">
          <col style="width:18%">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Sr. No.</th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Folder
              <p-sortIcon field="pathName"></p-sortIcon>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Code
              <p-sortIcon field="code"></p-sortIcon>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Type
              <p-sortIcon field="type"></p-sortIcon>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              German
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              English
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              French
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Dutch
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-literal let-i="rowIndex">
        <tr>
          <td>{{i + 1}}</td>
          <td>{{literal.pathName}}</td>
          <td>{{literal.id}}</td>
          <td>{{literal.type}}</td>
          <td>{{literal.de}}</td>
          <td>{{literal.en}}</td>
          <td>{{literal.fr}}</td>
          <td>{{literal.nl}}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template #literalsNotFound>
      <h4 *ngIf="legacyLiteralLanguages == null">Language Literals Master not found. Please go back to <a [routerLink]="uploadLiteralsMasterPath">Upload Literal Master</a> step and extract the literals.</h4>
      <h4 *ngIf="legacyLiterals == null">Literals not found. Please go back to <a [routerLink]="extractCodePath">Extract Code</a> step and extract the literals.</h4>
    </ng-template>
  </p-card>
</div>
